#counter{
    background-color: black;
    color: aliceblue;
    height: 70px;
    font-size: 1cm;
    text-align:end ;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: aquamarine;
}